<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/cafes.css" />
<%- include('../partials/nav') %>
<h1><%= profile.name %>'s Favorite Cafes</h1>
<%# each cafe the user has created should be listed here %>
<div id="profile-container">
  <ul>
  <% profile.cafes.forEach(cafe => { %>
    <li> <%= profile.name %></li>
  <% }) %>
  </ul>
</div>
<%- include('../partials/footer') %>