<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css" />
<%- include('../partials/nav') %>
<main>
  <div id="profilepage">
    <h1>Profile List</h1>
    <div id="profile-container">
      <% profiles.forEach(profile => { %>
        <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s photo">
        <h2><%= profile.name %></h2>
        <form action="/profiles/<%= profile._id %>" method="GET">
        <button class=button><%= profile.name %></button>
        </form>
      <% }) %>  
    </div>
    <br></br>
  <div class="snowwhite">
    <img id="snowwhite" src="/images/snowwhitecoffee.gif" alt="Snow White Needs Coffee">
  </div>
</main>
<%- include('../partials/footer') %>