<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css" />
<%- include('../partials/nav') %>
<h1>Profile List</h1>
<div id="profile-container">
  <% profiles.forEach(profile => { %>
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s photo">
    <h2><%= profile.name %></h2>
    <form action="/<%= profile._id %>" method="GET">
      <button><%= profile.name %></button>
    </form>
  <% }) %>  
  </div>
<%- include('../partials/footer') %>