<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />
<%- include('../partials/nav') %>
<main>
  <div class="border">
    <h1 class="animate__animated animate__lightSpeedInLeft">☕️<%= profile.name %>'s Profile☕️</h1>
    <div id="emptyspace">
      <div class="profcard">
        <img id="profileimg" src="<%= profile.avatar %>" alt="<%= profile.name %>'s photo">
        <h2 class="profilefavecafes"><%= profile.name  %>'s Favorite Cafes</h2>
      </div>
    </div>

    <h2 id="title-coffee-gifs">Favorite Coffee GIFs</h2>
    <% profile.gifs.forEach(gifPath => { %>
      <img src="<%= gifPath %>" class="gif" alt="User's GIF">
    <% }) %>
    
        <!-- Add a form for clearing GIFs -->
  <% if (userProfile && userProfile.equals(profile._id)) { %>
    <% if (profile.gifs.length > 0) { %>
      <div>
        <form action="/profiles/<%= profile._id %>/clearGifs" method="POST">
          <button class="button" id="clear" type="submit"><i class="fa-solid fa-trash-can"></i></button>
        </form>
      </div>
    <% } %>
  <% } %>

    <% if (userProfile && userProfile.equals(profile._id)) { %>
      <!-- Render this section only if the logged-in user is viewing their own profile -->
      <h2 class="add-title">Add a GIF</h2>
      <form action="/profiles/<%= profile._id %>/addGif" method="POST">
        <select name="selectedGif">
          <% availableGifs.forEach(gif => { %>
            <% const gifName = gif.replace(/-/g, ' ').slice(0, -4); %>
            <% const formattedGifName = gifName.replace(/(^\w|\s\w)/g, m => m.toUpperCase()); %>
            <option value="<%= gif %>"><%= formattedGifName %></option>
          <% }) %>
        </select>
                  
        <button class="button" type="submit"><i class="fa-solid fa-plus"></i></button>
      </form>
    <% } %>

    <a href="/profiles/index"><button class="button profilesbutton"><i class="fa-regular fa-user"></i></button></a>
  </div>
</main>
<%- include('../partials/footer') %>
