<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/show.css" />
<%- include('../partials/nav') %>
<main>

  <div class="border">
    <h1 class="animate__animated animate__lightSpeedInLeft">☕️<%= profile.name %>'s Profile☕️</h1>
    <!-- Display the user's bio(s) -->
    <div class="user-bio">
      <h2><%= profile.name %>'s Bio</h2>
      <% if (profile.bio) { %>
        <p><%= profile.bio %></p>
      <% } %>
      <!-- Allow users to delete their bio -->
      <% if (userProfile && userProfile.equals(profile._id) && profile.bio) { %>
        <div class="delete-bio-button">
          <form action="/profiles/<%= profile._id %>/deleteBio" method="POST">
            <button class="button" type="submit">Delete <i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
      <% } %>
    </div>
    <br />
        <!-- Allow users to update their bio -->
        <% if (userProfile && userProfile.equals(profile._id)) { %>
          <div class="update-bio-form">
            <h2><%= profile.bio ? 'Update' : 'Add' %> Your Bio</h2>
            <form action="/profiles/<%= profile._id %>/updateBio" method="POST">
              <textarea name="bio" rows="4" cols="50"><%= profile.bio %></textarea>
              <button class="button" type="submit">
                <%= profile.bio ? 'Update' : 'Add' %> <i class="fa-solid <%= profile.bio ? 'fa-pencil' : 'fa-plus' %>"></i>
              </button>
            </form>
          </div>
      <% } else { %>
        <!-- Allow users to add their bio -->
        <% if (userProfile && userProfile.equals(profile._id)) { %>
          <div class="update-bio-form">
            <h2>Add Your Bio</h2>
            <form action="/profiles/<%= profile._id %>/updateBio" method="POST">
              <textarea name="bio" rows="4" cols="50"></textarea>
              <button class="button" type="submit">Add <i class="fa-solid fa-plus"></i></button>
            </form>
          </div>
        <% } %>
      <% } %>
  
    <div id="emptyspace">
      <% if (profile.cafes && profile.cafes.length > 0) { %>
        <br />
        <div class="profcard">
          <img id="profileimg" src="<%= profile.avatar %>" alt="<%= profile.name %>'s photo">
          <div class="favorite-cafes">
            <h2 class="profilefavecafes"><%= profile.name  %>'s Favorite Cafes</h2>
            <% profile.cafes.forEach(cafe => { %>
              <ul>
                <div class="">
                  <li class="list">
                    ☕️<a class="cafes" href="/cafes/<%= cafe._id%>">
                      <%= cafe.name%>
                    </a>
                  </li>
                </div>
              </ul>
            <% }) %>
          </div>
        </div>
      <% } else { %>
        <div class="profcard-nocafes">
          <img id="profileimg" src="<%= profile.avatar %>" alt="<%= profile.name %>'s photo">
          <div class="flex-column">
            <h2 class="profilefavecafes"><%= profile.name  %> Has No Favorite Cafes 😔</h2>
            <a href="/cafes">
              <button class="button" id="cafes-button">Add a Cafe ☕️</button>
            </a>
          </div>
        </div>
      <% } %>
    </div>

    <!-- Allow users to update their gifs -->
    <% if (profile.gifs.length > 0) { %>
      <div class="gifs-border">

        <h2 id="title-coffee-gifs">Favorite Coffee GIFs</h2>
        <% profile.gifs.forEach(gifPath => { %>
          <div class="each-gif">
            <img src="<%= gifPath %>" class="gif" alt="User's GIF">
            <form action="/profiles/<%= profile._id %>/removeOneGif?gifPath=<%= gifPath %>" method="POST">
              <button class="button delete-gif-button" type="submit">Delete <i class="fa-solid fa-trash-can"></i></button>
            </form>
          </div>
        <% }) %>
        <!-- Add a form for clearing GIFs -->
      <% if (userProfile && userProfile.equals(profile._id)) { %>
    
        <div>
          <form action="/profiles/<%= profile._id %>/clearGifs" method="POST">
            <button class="button" id="clear" type="submit">Delete All Gifs <i class="fa-solid fa-trash-can"></i></button>
          </form>
        </div>
      </br>

      <% } %>
      </div>
    <% } %>
    

    <% if (userProfile && userProfile.equals(profile._id)) { %>
      <br/>
      <div class="add-gif-border">

        <h2 class="add-title">Add a GIF</h2>
        <form action="/profiles/<%= profile._id %>/addGif" method="POST">
          <select name="selectedGif">
            <% availableGifs.forEach(gif => { %>
              <% const gifName = gif.replace(/-/g, ' ').slice(0, -4); %>
              <% const formattedGifName = gifName.replace(/(^\w|\s\w)/g, m => m.toUpperCase()); %>
              <option value="<%= gif %>"><%= formattedGifName %></option>
            <% }) %>
          </select>
                    
          <button class="button" type="submit">Add <i class="fa-solid fa-plus"></i></button>
        </form>

      </div>
      <br/>

      <!-- Add a form for background color -->
      <div class="background-color-border">
        <h2> Add a Background Color</h2>
        <form action="/profiles/<%= profile._id %>/updateBackgroundColor" method="POST">
          <label for="backgroundColor">Choose Background Color:</label>
          <input type="color" id="backgroundColor" name="backgroundColor" value="<%= profile.backgroundColor || '#ebe9e9' %>">
          <button class="button" type="submit">Add <i class="fa-solid fa-plus"></i></button>
        </form>
      </div>
      <% } %>

      </div>



    <a href="/profiles/index"><button class="button profilesbutton">All Profiles <i class="fa-regular fa-user"></i></button></a>
  </div>

</div>


  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const profileBackgroundColor = '<%= profile.backgroundColor || "#ebe9e9" %>';
      const borderDiv = document.querySelector('.border');
      borderDiv.style.backgroundColor = profileBackgroundColor;
    });
  </script>
  
</main>
<%- include('../partials/footer') %>
