<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<img id="error-img" src="/images/helpmecoffee.gif" alt="Help Me Coffee">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<%- include('./partials/footer') %>
