<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cafes/edit.css" />
<%- include('../partials/nav') %>
<main>
  <h1 class= "animate__animated animate__lightSpeedInLeft">☕️Edit Review☕️</h1>
  <br></br>
  <form id="update-review" action="/cafes/<%= cafe._id %>/reviews/<%= review._id %>?_method=PUT" method="POST">
    <label for="favoriteCoffee">Favorite Coffee:</label>
    <input type="text" class="textbox" name="favoriteCoffee" id="favoriteCoffee"></input>
    <label for="leastCoffee">Least Favorite Coffee:</label>
    <input type="text" class="textbox" name="leastCoffee" id="leastCoffee"></input>
    <label for="priceLatte">Price of Latte:</label>
    <input type="number" class="textbox" name="priceLatte" id="priceLatte"></input>
    <button class="button" type="submit">Save Review</button>
  </form>
  <br></br>
  <img id="spitoutcoffee" src="/images/spitoutcoffee.gif" alt="Spit Out Coffee">
</main>
<%- include('../partials/footer') %>