<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cafes/show.css" />
<%- include('../partials/nav') %>
<main>
  <h1 class= "animate__animated animate__lightSpeedInLeft">☕️<%= cafe.name %>☕️</h1>
  <h2><%= cafe.location %></h2>
  <img class="needcoffee" id="needcofee" src="/images/needcoffee.gif" alt="Need Coffee">
  <h3 id="reviews">Reviews</h3>
  <div class="row">
    <% cafe.reviews.forEach(review => { %>
      <% if (review.reviewer) { %>
        <div class="column">
          <li>☕️Name: <%= review.reviewer.name %></li>
          <li>☕️Favorite Coffee: <%= review.favoriteCoffee %></li>
          <li>☕️Least Favorite Coffee: <%= review.leastCoffee %></li>
          <li>☕️Price of Latte: <%= review.priceLatte %></li>
        </div>
      <% } %>
              <%# button for edit reviews %>
      <div class="column">
        <form id="edit-review" action="/cafes/<%= cafe._id %>/reviews/<%= review._id %>/edit" method="GET"><button class="button">EDIT REVIEW</button>
        </form>
        <form action="/cafes/<%= cafe._id %>/reviews/<%=review._id%>?_method=DELETE" method="POST">
          <button class="button">X</button>
        </form>
      </div>
      <% }) %>
  </div>
  <br></br>
  <div id="review">
    <form 
      id="add-review-form"
      action="/cafes/<%= cafe._id%>/reviews"
      method="POST"
    >
    <label for="favoriteCoffee">Favorite Coffee:</label>
    <input type="text" class="textbox" name="favoriteCoffee" id="favoriteCoffee"></input>
    <label for="leastCoffee">Least Favorite Coffee:</label>
    <input type="text" class="textbox" name="leastCoffee" id="leastCoffee"></input>
    <label for="priceLatte">Price of Latte:</label>
    <input type="number" class="textbox" name="priceLatte" id="priceLatte"></input>
    <button class="button" type="submit">Add Review</button>
    </form>
  </div>
</main>
<%- include('../partials/footer') %>