<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cafes/show.css" />
<%- include('../partials/nav') %>

<main>
  <div class="border" id="no-bottom-margin">
    <h1 class="animate__animated animate__lightSpeedInLeft">☕️<%= cafe.name %>☕️</h1>
    <h2><%= cafe.location %></h2>
    <div class="meryl">
      <img id="meryl" src="/images/merylcoffee.gif" alt="Even Meryl Streep Needs Coffee">
    </div>
    <h3 id="reviews">Reviews</h3>
    <div class="row reviewborder">
      <% cafe.reviews.forEach(review => { %>
        <% if (review.reviewer) { %>
          <div class="<%= cafe.reviews.length > 1 ? 'multi-reviewers-row' : 'column1' %>">
            <li><span id="name-title">☕️Name: </span><%= review.reviewer.name %></li>
            <li><span id="favoritecoffee-title">☕️Favorite Coffee: </span><%= review.favoriteCoffee %></li>
            <li><span id="leastfavcoffee-title">☕️Least Favorite Coffee: </span><%= review.leastCoffee %></li>
            <li><span id="milkpref-title">☕️Milk Preference: </span><%= review.milk %></li>
            <li><span id="price-title">☕️Price of Latte: </span>$<%= review.priceLatte %></li>
          </div>
        <% } %>
        <% if(review.reviewer.equals(user?.profile._id)) { %>
          <div class="column-2">
            <div class="marginbottom">
              <form action="/cafes/<%= cafe._id %>/reviews/<%= review._id %>/edit" method="GET">
                <button class="button" id="edit-review">EDIT REVIEW</button>
              </form>
            </div>
            <form action="/cafes/<%= cafe._id %>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="button">X</button>
            </form>
          </div>
        <% } %>
      <% }) %>
    </div>


    <h3 id="addreview">Add Review</h3>
    <div class="addreviewborder">
      <form id="add-review-form" action="/cafes/<%= cafe._id%>/reviews" method="POST" autocomplete="off">
        <label for="favoriteCoffee">Favorite Coffee:</label>
        <input type="text" class="textbox" name="favoriteCoffee" class="rowtwo" id="favoriteCoffee" placeholder="Vanilla Latte"></input>
        <label for="leastCoffee">Least Favorite Coffee:</label>
        <input type="text" class="textbox" name="leastCoffee" id="leastCoffee" class="rowtwo" placeholder="Black Coffee"></input>
        <label for="milk-select">Milk:</label>
        <select name="milk" id="milk-select" class="rowtwo">
          <option value="Whole">Whole</option>
          <option value="Oat" selected>Oat</option>
          <option value="Skim">Skim</option>
          <option value="Soy">Soy</option>
          <option value="Almond">Almond</option>
        </select>
        <label for="priceLatte">Price of Latte: $</label>
        <input type="number" class="textbox" name="priceLatte" id="priceLatte" class="rowtwo" placeholder="4.00"></input>
        <button class="button" id="addreviewbutton" type="submit">Add Review</button>
      </form>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>